<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
<style>
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}
</style>
</head>
<body>
<app-navbar></app-navbar>

<div class="alert alert-danger" role="alert" *ngIf="message" >
  <div class="text-center">
    {{ message }}
  </div>
</div>


<!-- <div class="container">
    <div class="card-content">

        <form (ngSubmit)="onAddUser(user)" #userForm = "ngForm" class="col s6">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" placeholder = "Add firstname" [(ngModel)] = "user.firstname" name="firstname">
                </div>

                <div class="input-field col s6">
                    <input type="text" placeholder = "Add lastname" [(ngModel)] = "user.lastname" name="lastname">
                </div>

                <div class="input-field col s6">
                    <input type="text" placeholder = "Add email" [(ngModel)] = "user.email" name="email">
                </div>

                <div class="input-field col s6">
                    <input type="text" placeholder = "Add role" [(ngModel)] = "user.role" name="role">
                </div>

            </div>

            <button type="submit" class=" btn btn-primary mr-2">
            {{editMode? 'Update user' :'Add user'}}

            </button>


        </form>
    </div>

</div>
<br> -->
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 my-auto"><br>
            <div class='text-center'>
                <h2>Register Staff</h2>
            </div><br />
           
    <div class='text-center'>
      <input class="input-group-text w-25 mx-auto"  type="text" name="firstname" placeholder="First Name" [(ngModel)]="user.firstname"><br>
    </div>
    <div class='text-center'>
      <input class="input-group-text w-25 mx-auto" type="text" name="lastname" placeholder="Last Name" [(ngModel)]="user.lastname"><br>
    </div>
    <div class='text-center'>
      <input class="input-group-text w-25 mx-auto" type="text" name="role" placeholder="Role" [(ngModel)]="user.role"><br>

    </div>
    <div class='text-center'>
      <input class="input-group-text w-25 mx-auto"  type="text" name="email" placeholder="Email" [(ngModel)]="user.email"><br>
    </div>
    <div class='text-center'>
      <input class="input-group-text w-25 mx-auto"  type="password" name="password" placeholder="Password" [(ngModel)]="password">
    </div><br>
    <div class = 'text-center'>
      <button ng-click="orderProps='0'" (click)="onAddUser(user)" class="btn btn-primary" style="background-color:#EA7754">Register</button>
    </div>
    <!-- <div class = 'text-center'>
      <button  (click)=back() class="btn btn-link">Back</button>
    </div> -->
    <div class='text-center' *ngIf="success">
      <!-- <p>Registered staff with the email:  <b>{{ e }}</b></p> -->
      <p> Staff registered successfully! </p>
    </div>

  </div>
</div>
<br>


<div *ngIf="users?.length > 0; else noUsers" class="container text-center">

    <!-- <div class="border">
        <button class="btn btn-md btn-outline-primary">
            <i class="fa fa-user"></i>New user
        </button>
    </div> -->
    <table class="table">
        <thead>
            <tr>
                <th name="firstname">Firstname</th>
                <th name="lastname">Lastname</th>
                <th name="email">Email</th>
                <th name="role">Role</th>
                <th name="action">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i" >
                <td>  <input class="input-group-text w-30 mx-auto" type="text" placeholder = "Add firstname" [(ngModel)] = "user.firstname" [disabled]='!editState' name="firstname"></td>
                <td> <input class="input-group-text w-30 mx-auto" type="text" placeholder = "Add lastname" [(ngModel)] = "user.lastname" [disabled]='!editState' name="lastname"></td>
                <td><input class="input-group-text w-30 mx-auto"  type="text" placeholder = "Add email" [(ngModel)] = "user.email"  [disabled]='!editState' name="email"></td>
                <td> <input class="input-group-text w-30 mx-auto" type="text" placeholder = "Add role" [(ngModel)] = "user.role"  [disabled]='!editState' name="role"></td> 
                
                    <button class="btn btn-sm btn-warning" (click)="editUser( $event ,user)" style="background-color:#EA7754">
                        <i class="fa fa-edit"></i>Edit
                    </button>
                  

                    <button (click)="deleteUser($event,user)" class="btn btn-sm btn-danger" style="background-color:#EEC44B">
                        <i class="fa fa-remove"></i>Delete
                    </button>
                    <button  type="submit" class=" btn btn-primary mr-2" (click)="updateUser(user)"style="background-color:#232942" >Update</button>

                    <!-- <div *ngIf = "editState && userToEdit.id"> -->
          
                    <!-- </div> -->
                 

            </tr>
        </tbody>
    </table>
</div>



<ng-template #noUsers>
    <hr>
    <h5>There are no users in the db</h5>
</ng-template>
