<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
<style>
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}
</style>
</head>
<body>

  <div id="box1">
    <div class="col-lg-12 my-auto"> 
      <br>
    </div>
    </div>

<div class="row">
  <div class="col-lg-12 my-auto">
    <div class='text-center'>
      <br>
      <br>
      <br>
      <h1> 4  0  4 </h1>
      <br>
      <h3>Oooops page not found!</h3>
    </div>
    <br>
    <br>
    <div class='text-center'>
      <img src="assets/img/notFoundPic.png">
   </div>
    
    <br>
    <br>

  </div>
</div>
</body>

