<p>register-staff works!</p>
<app-staff-member></app-staff-member>
<div class="row">
    <div class="col-sm-12 my-auto">
        <div class="text center">
                <h1>Register staff</h1>
        </div>

        <div class='text-center'>
            <h2>Enter the member information </h2>
        </div>

        <div class='text-center'>
            <input class="input-group-text w-25 mx-auto"  type="text" name="firstname" placeholder="First Name" ><br>
        </div>
        <div class='text-center'>
            <input class="input-group-text w-25 mx-auto" type="text" name="lastname" placeholder="Last Name" ><br>
        </div>
        <div class='text-center'>
            <input class="input-group-text w-25 mx-auto"  type="text" name="email" placeholder="email" ><br>
        </div>
        <div class='text-center'>
            <input class="input-group-text w-25 mx-auto"  type="text" name="role" placeholder="role" ><br>
        </div>

    </div>    
</div>