<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
<style>
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}
</style>
</head>
<body>
<app-navbar></app-navbar>

<div id="box">
    <div class="row">
      <div class="col-lg-12 my-auto">
        <div class='text-center'>
          <br>
          <br>
          <h1 style="color:#4AC1C0;"><b>Feedback</b></h1>
        </div><br>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div id="box1">
        <form  name="myForm" #myForm="ngForm">
            <div class="text-center">
            <div class="block">
              <div class="form-group">
                  <label for="feedBackSelect">Please select a feedback type</label>
                  <select class="form-control" id="exampleFormControlSelect1" (change)="selectChangeHandler($event)" style="background-color: #F0F0F0;">
                    <option selected>Choose...</option>
                    <option id="Feedback" [selected]="preselected=='Feedback'" value ="Feedback">Existing Resource Feedback</option>
                    <option  value= "Suggestion">New Resource Suggestion</option>

                  </select>
                </div>


                <label class="col-form-label" style="color: black; background-color: F7F5F2;" for="ressourceID" display="inline-block" >Resource ID:  </label>
                    <input class="input-group-text w-100 mx-auto" type="text" name="resourceID" [(ngModel)]="idNum" style="background-color: #F0F0F0;"><br />
            </div>
            

            <div class="form-group">
                <label class="col-form-label" style=" width: 600px; color: black; background-color: #F7F5F2;" for="comment">Comment: </label><br>
                <!-- <input class="form-control input-lg" type="text" name="tag"> -->
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" style="background-color: #F0F0F0; ;" [(ngModel)]="feedback" placeholder="Please write your feedback here..."></textarea><br />
            </div>
        </div>

            <br>

            <div class="text-center">
                <button class="btn btn-primary" (click)="onSubmit()" style="background-color:#EA7754 ;">Submit</button><br><br>
                <p *ngIf="showMyMessage" style="color: black;">Feedback Submitted!</p>
            </div><br />

        </form>
    </div>
      </div>
      <div class="col-lg-4">
        <div class='text-center'>
           <img src="assets/img/FB2.png">
        </div>
      </div>

    </div>
    
