<div *ngIf="rdbresources?.length > 0">
  <ul *ngFor = "let rdbresource of rdbresources" class="collection">
    <li class = "collection-resource">Additional Information: {{rdbresource.AdditionalInformation}} Category: {{rdbresource.Category}} Description: {{rdbresource.DescriptionOfResource}} Health Theme: {{rdbresource.HealthTheme}} Language: {{rdbresource.Language}} Name of Resource: {{rdbresource.NameOfResource}} Subtopic: {{rdbresource.Subtopic}} Tag: {{rdbresource.Tag}} Web Link: {{rdbresource.WebLink}} </li>

  </ul>

</div>

<!-- <ng-template #noRdbresources>
  <hr>
  <h5> There are no resources </h5>
</ng-template> -->
