<app-navbar></app-navbar><br>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed Regular' rel='stylesheet'>
<style>
body {
    font-family: 'Barlow Condensed Regular';font-size: 22px;
}
</style>
<body>
<div class='text-center'>
    <h1>Register Staff</h1>
</div><br>
<div class='text-center'>
    <input class="input-group-text w-25 mx-auto"  type="text" name="firstName" placeholder="First Name"><br>
    <input class="input-group-text w-25 mx-auto"  type="text" name="lastName" placeholder="Last Name"><br>
    <input class="input-group-text w-25 mx-auto"  type="text" name="email" placeholder="Email"><br>
    <label for="role">Select role type: </label>
    <select class="input-group-text w-25 mx-auto" name="role" id="role">
        <option value="admin">Admin</option>
        <option value="volunteer">Volunteer</option>
      </select><br>
    <button>Register</button>
</div><br>
</body>
