<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
<style>
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}
</style>
</head>
<body>
<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <img src="../../favicon.ico">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 my-auto"><br>
            <div class='text-center'>
                <h2>Resource Navigation</h2>
            </div><br />
            <div class='text-center'>
                <input class="input-group-text w-25 mx-auto"  type="text" name="tag" placeholder="Search"><br />
            </div>

        </div>
    </div>
</div>



<div class="text-center">
  <button (click)="storeData()" class="btn btn-primary" style="background-color:#EA7754 ;">Show Data</button>
</div><br />







<div *ngIf="resources?.length > 0">
  <ngb-accordion [destroyOnHide]='false' [closeOthers]="false" activeIds="panel1" >

        <ngb-panel *ngFor = "let resource of resources">
           <ng-template ngbPanelTitle>
              <span>{{resource[5]}} </span>
           </ng-template>
           <ng-template ngbPanelContent>
              <b>Health Theme:</b> {{resource[0]}}<br />
              <b>Subtopic:</b> {{resource[1]}}<br />
              <b>Category:</b> {{resource[3]}}<br />
              <b>Language:</b> {{resource[4]}}<br /> <br />
              <div class = "text-center">
                <b>Description of Resource</b> <br />
                {{resource[6]}}<br />
              </div><br />
              <b>Web Link: </b> <a href = {{resource[7]}}>{{resource[7]}}</a><br />
              <b>Additional Information:</b> {{resource[8]}}<br />

           </ng-template>
        </ngb-panel>

  </ngb-accordion>
</div>
</body>


      <!-- ngb Accordion starts -->

<!-- <ngb-accordion [destroyOnHide]='false' [closeOthers]="true" activeIds="panel1">

   <ngb-panel id="panel1">
      <ng-template ngbPanelTitle>
         <span>Accordion Item 1 </span>
      </ng-template>
      <ng-template ngbPanelContent>
         Donut caramels sweet roll bonbo
      </ng-template>
   </ngb-panel>

   <ngb-panel id="panel1">
      <ng-template ngbPanelTitle>
         <span>Accordion Item 1 </span>
      </ng-template>
      <ng-template ngbPanelContent>
         Donut caramels sweet roll bonbo
      </ng-template>
   </ngb-panel>


</ngb-accordion> -->






<!-- <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div> -->







<!-- <div *ngIf="resources?.length > 0">
  <ul *ngFor = "let resource of resources" class="collection"> -->
    <!-- <b>Health Theme</b> <b>Subtopic</b> <b>Tag</b> <b>Category</b> <b>Language</b> <b>Name of Resource</b> <b>Description</b> <b>Web Link</b> -->
    <!-- <b>{{resource[5]}}</b>
    <li class = "collection-resource">{{resource}}</li>

  </ul>

</div> -->
