<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
<style>
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}
</style>
</head>
<body>
<app-navbar></app-navbar>


<div class="container">
    <div class="row">
        <div class="col-sm-12 my-auto"><br>
            <div class='text-center'>
                <h2>Resource Navigation</h2>
            </div><br>
            <div class='text-center'>
                <input class="input-group-text w-25 mx-auto"  type="text" name="tag" placeholder="Search"><br>
            </div><br>

        </div>
    </div>
</div>
</body>
