<div class="container">
    <div class="row">
        <div class="col-sm-12 my-auto">
            <div class='text-center'>
                <h2>Profile</h2>
            </div><br>
            <div class = 'text-center'>
                <button ng-click="orderProps='0'" [routerLink]="['/profile']" class="btn btn-primary">Profile</button>
            </div><br>
            <div class='text-center'>
                <h2>Resource Search</h2>
            </div><br>
            <div class = 'text-center'>
                <button ng-click="orderProps='0'" [routerLink]="['/resourcesearch']" class="btn btn-primary">Resource Search</button>
            </div><br>
            <div class='text-center'>
                <h2>Resource Database</h2>
            </div><br>
            <div class = 'text-center'>
                <button ng-click="orderProps='0'" [routerLink]="['/resourcedatabase']" class="btn btn-primary">Resource Database</button>
            </div><br>
            <br>
            <div class = 'text-center'>
                <button (click)="logout()" class="btn btn-danger"> Logout</button>
            </div><br>
        </div>
    </div>
</div>
