<div class="alert alert-danger" role="alert" *ngIf="message" >
  <div class="text-center">
    {{ message }}
  </div>
</div>


<div class="row">
  <div class="col-sm-12 my-auto">
    <div class='text-center'>
      <h1>System Navigation Database</h1>
    </div><br>
    <div class='text-center'>
      <input class="input-group-text w-25 mx-auto" type="email" name="email" placeholder="Email" [(ngModel)]="email">
    </div><br>
    <div class='text-center'>
      <input class="input-group-text w-25 mx-auto" type="password" name="password" placeholder="Password" [(ngModel)]="password">
    </div><br>
    <div class = 'text-center'>
      <button (click)="checkLogin()" class="btn btn-primary">Login</button>
    </div>

  </div>
</div>
