body{
  background-color: #F4F3EF;
}

input{
  background-color: #F4F3EF;
  color: black;
}

/* #box2{
  background-color: #F7F5F2;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 30px;


}
*/

div.a{
  font-size: 60px;
  padding: 30px;
}

#box{
  background-color: #F4F3EF;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 30px;
 

}

img{
  text-align: center;
  width:fit-content;
  height: fit-content;
}

