<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
<style>
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}
</style>
</head>

<body>
<app-navbar></app-navbar>



<div class="container">
    <div class="row">
        <img src="assets/img/favicon.ico">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 my-auto"><br>
            <div class='text-center'>
                <h2>Resource Navigation</h2>
            </div><br />
            <!-- <div class='text-center'>
                <input class="input-group-text w-25 mx-auto"  type="text" name="tag" placeholder="Search"><br />
            </div> -->

        </div>
    </div>
</div>


<form>
  <div class="form-group">
    <div class='text-center'>
        <input class="input-group-text w-25 mx-auto"  type="text" name="tag" placeholder="Search"><br />
    </div>
  </div>

  <!-- <div class='text-center'>
    <p>Health Theme</p>
    <div class="form-check form-check-inline [(ngModel)]="healthTheme"">
      <input class="form-check-input" type="checkbox" id="harm_reduction" value="Harm Reduction" name="harm_reduction">
      <label class="form-check-label" for="harm_reduction">Harm Reduction</label>
      <input class="form-check-input" type="checkbox" id="mental_health" value="Mental Health" name="mental_health">
      <label class="form-check-label" for="mental_health">Mental Health</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="mental_health" value="Mental Health" name="mental_health">
      <label class="form-check-label" for="mental_health">Mental Health</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="physical_health" value="Physical Health" name="physical_health">
      <label class="form-check-label" for="physical_health">Physical Health</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="population_health" value="Population Health" name="population_health">
      <label class="form-check-label" for="population_health">Population Health</label>
    </div>


  <div class='text-center'>
    <p>Language</p>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="en" value="EN" name="en" [(ngModel)]="language">
      <label class="form-check-label" for="en">EN</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="fr" value="FR" name="fr" [(ngModel)]="language">
      <label class="form-check-label" for="fr">FR</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="bil" value="BIL" name="bil" [(ngModel)]="language">
      <label class="form-check-label" for="bil">BIL</label>
    </div>
  </div><br>

  <div class='text-center'>
    <p>Subtopic</p>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="disease_prevention" value="Disease Prevention" name="disease_prevention" [(ngModel)]="subtopic">
      <label class="form-check-label" for="disease_prevention">Disease Prevention</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="financial_health" value="Financial Health" name="population_health"financial_health [(ngModel)]="subtopic">
      <label class="form-check-label" for="financial_health">Financial Health</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="mental_health_and_addiction" value="Mental Health & Additction" name="population_health"mental_health_and_addiction [(ngModel)]="subtopic">
      <label class="form-check-label" for="mental_health_and_addiction">Mental Health & Additction</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="sexual_health" value="Sexual Health" name="sexual_health" [(ngModel)]="subtopic">
      <label class="form-check-label" for="sexual_health">Sexual Health</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="smoking_cessation" value="Smoking Cessation" name="smoking_cessation" [(ngModel)]="subtopic">
      <label class="form-check-label" for="smoking_cessation">Smoking Cessation</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="substance_use" value="Substance Use" name="substance_use" [(ngModel)]="subtopic">
      <label class="form-check-label" for="substance_use">Substance Use</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="crisis/support" value="Crisis/Support" name="crisis/support" [(ngModel)]="subtopic">
      <label class="form-check-label" for="crisis/support">Crisis/Support</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="general_wellness" value="General Wellness" name="general_wellness" [(ngModel)]="subtopic">
      <label class="form-check-label" for="general_wellness">General Wellness</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="nutrition" value="Nutrition" name="nutrition" [(ngModel)]="subtopic">
      <label class="form-check-label" for="nutrition">Nutrition</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="sleep" value="Sleep" name="sleep" [(ngModel)]="subtopic">
      <label class="form-check-label" for="sleep">Sleep</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="physical_activity" value="Physical Activity" name="physical_activity" [(ngModel)]="subtopic">
      <label class="form-check-label" for="physical_activity">Physical Activity</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="social_connection" value="Social Connection" name="social_connection" [(ngModel)]="subtopic">
      <label class="form-check-label" for="social_connection">Social Connection</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="spiritual" value="Spiritual" name="spiritual" [(ngModel)]="subtopic">
      <label class="form-check-label" for="spiritual">Spiritual</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="sustainability" value="Sustainability" name="sustainability" [(ngModel)]="subtopic">
      <label class="form-check-label" for="sustainability">Sustainability</label>
    </div>
  </div><br>

  <div class='text-center'>
    <p>Category</p>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="app" value="App" name="app" [(ngModel)]="category">
      <label class="form-check-label" for="app">App</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="document" value="Document" name="document" [(ngModel)]="category">
      <label class="form-check-label" for="document">Document</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="event" value="Event" name="event" [(ngModel)]="category">
      <label class="form-check-label" for="event">Event</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="handout" value="Handout" name="handout" [(ngModel)]="category">
      <label class="form-check-label" for="handout">Handout</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="health_day" value="Health Day" name="health_day" [(ngModel)]="category">
      <label class="form-check-label" for="health_day">Health Day</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="material" value="Material" name="material" [(ngModel)]="category">
      <label class="form-check-label" for="material">Material</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="program" value="Program" name="program" [(ngModel)]="category">
      <label class="form-check-label" for="program">Program</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="quiz" value="Quiz" name="quiz" [(ngModel)]="category">
      <label class="form-check-label" for="quiz">Quiz</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="resource" value="Resource" name="resource" [(ngModel)]="category">
      <label class="form-check-label" for="resource">Resource</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="service" value="Service" name="service" [(ngModel)]="category">
      <label class="form-check-label" for="service">Service</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="web_resource" value="Web Resource" name="web_resource" [(ngModel)]="category">
      <label class="form-check-label" for="web_resource">Web Resource</label>
    </div>
  </div><br>-->

  <div class="text-center">
    <button (click)="storeData()" class="btn btn-primary" style="background-color:#EA7754 ;">Show Data </button>
  </div>
</form>



<!-- <<div class="text-center">
  <button (click)="storeData()" class="btn btn-primary" style="background-color:#EA7754 ;">Show Data
  </button>
</div><br /> -->



<div *ngIf="resources.length > 0" class = "container-fluid">
  <ngb-accordion [destroyOnHide]='false' [closeOthers]="false" activeIds="panel1" >
        <ngb-panel *ngFor = "let resource of resources | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
           <ng-template ngbPanelTitle>
              <span>ID:{{resource[13]}} {{resource[5]}} </span>
           </ng-template>
           <ng-template ngbPanelContent>
              <b>Health Theme:</b> {{resource[0]}}<br />
              <b>Subtopic:</b> {{resource[1]}}<br />
              <b>Category:</b> {{resource[3]}}<br />
              <b>Language:</b> {{resource[4]}}<br /> <br />
              <div class = "text-center">
                <b>Description of Resource</b> <br />
                {{resource[6]}}<br />
              </div><br />
              <b>Web Link: </b> <a href = {{resource[7]}} target=”_blank” >{{resource[7]}}</a><br />
              <b>Additional Information:</b> {{resource[8]}}<br />

           </ng-template>
        </ngb-panel>

  </ngb-accordion>
  <!-- <table class="table">
    <tr>
      <th>Title</th>
      <th>Health Theme</th>
      <th>Subtopic</th>
      <th>Category</th>
      <th>Language</th>
      <th>Description of Resource</th>
      <th>Web Link</th>
      <th>Additional Information</th>
    </tr>
    <tr *ngFor="let resource of resources | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

      <td>{{resource[5]}}</td>
      <td>{{resource[1]}}</td>
      <td>{{resource[2]}}</td>
      <td>{{resource[3]}}</td>
      <td>{{resource[4]}}</td>
      <td>{{resource[6]}}</td>
      <td><a href = {{resource[7]}}>{{resource[7]}}</a></td>
      <td>{{resource[8]}}</td>

    </tr>
  </table> -->
  <!-- <ngb-pagination [boundaryLinks]="true" [pageSize]="pageSize" [collectionSize]="resources.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination> -->
  <ngb-pagination class="d-flex justify-content-center" [pageSize]="pageSize" [collectionSize]="resources.length" [(page)]="page" [maxSize]="5" [rotate]="false" [boundaryLinks]="true"></ngb-pagination>
</div>

</body>
