<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
<style>
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}
</style>
</head>
<body>
<div class = "components">
<a mat-button [routerLink]="['/home']">Home </a>
<a mat-button [routerLink]="['/profile']">Profile </a>
<!-- <a mat-button [routerLink]="['/resourcesearch']">Resource Search </a> -->
<!-- <a mat-button [routerLink]="['/resourcedatabase']">Resource Database </a> -->
<a [hidden]="!adminBool" mat-button [routerLink]="['/registerstaff']">Register Staff</a>
<a mat-button (click)="logout()"> Logout</a>

<span class="space"></span>
</div>
</body>