<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
<style>
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}
</style>
</head>
<body>
<app-navbar></app-navbar>

<div class="container">
    <div class="row">
       <!-- <img src="../../../../Images/profile.png"> -->
    </div>
</div>
<div class="container pt-5">
    <div class="row justify-content-sm-center pt-5">
        <div class="col-sm-6 shadow round pb-3">
            <h1 class="text-center pt-3 text-secondary">Profile</h1>
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="firstName">First Name: </label>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="lastName">Last Name: </label>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="phone">Phone Number: </label>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="email">Email: </label>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="email">Role: </label>
                    </div>
                    
                </form>
</div>
</div>
</div>
</body>

