<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
</head>
<style>
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}
</style>
<body>
<app-navbar></app-navbar>

<br>
<h1 style="text-align: center">Metrics</h1>

<br>

<h4>The Most Clicked on Ressources</h4>

<table class="table table-striped">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ressource ID</th>
            <th scope="col">Ressource Name</th>
            <th scope="col">Amount of Clicks</th>
        </tr>
    
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>#14582</td>
            <td>Drugs 101</td>
            <td>501</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>#1275</td>
            <td>Yoga Workout Ideas</td>
            <td>489</td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>#185</td>
            <td>Stress Control </td>
            <td>471</td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>#995</td>
            <td>Grieve</td>
            <td>470</td>
        </tr>

        <tr>
            <th scope="row">5</th>
            <td>#1855</td>
            <td>Housing</td>
            <td>401</td>
        </tr>

        <tr>
            <th scope="row">6</th>
            <td>#101</td>
            <td>Financial Aid</td>
            <td>378</td>
        </tr>

    </tbody>
</table>



</body>




