table {
    width: 100%;
  }
table .btn{
    margin: 2px;
}

.border{
    padding: 10px;
}
body{
    background-color: #F7F5F2;
  }

  .mybutton {
    border: none;
    background-color: #F7F5F2;
    outline: none;
  }

  .mybutton:hover{
    border:none;
    outline: none;
    cursor: pointer;
    }

    .select{
      width: 300px;
      height: 35px;
      outline: BAB9B9;
      background-color: #F7F5F2;
    }

    .form-select{
      align-items: center;
      align-content: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

   

    .btn-group {
      width: 300px;
      height: 35px;
      outline: BAB9B9;
      background-color: #F7F5F2;
    }

    .btn-sm{
      color:rgb(148, 141, 141);
      background-color: #F7F5F2;
      border-color: rgb(148, 141, 141);
    }

    .btn{
      outline: rgb(148, 141, 141);
    }

    form i {
      margin-left: -30px;
      cursor: pointer;
  }