<!-- <table>
    <tr>
        <th>
            <table>
                <tr>
                    <p>Profile</p>
                </tr>
                <tr>
                    <button class="nav-item nav-link-edit" [routerLink]="['/profile']">Profile</button >
                </tr>
            </table>
        </th>
        <th>
            <table>
                <tr>
                    <p>Resource Search</p>
                </tr>
                <tr>
                    <button class="nav-item nav-link-edit" [routerLink]="['/resourcesearch']">Resource Search</button >
                </tr>
            </table>
        </th>
        <th>
            <table>
                <tr>
                    <p>Register Staff</p>
                </tr>
                <tr>
                    <button class="nav-item nav-link-edit" [routerLink]="['/registerstaff']">Register Staff</button >
                </tr>
            </table>
        </th>
        <th>
          <table>
              <tr>
                <button (click)="logout()" class="btn btn-danger"> Logout</button>
              </tr>
          </table>
        </th>
    </tr>
</table> -->

<div class="container">
    <div class="row">
        <div class="col-sm-12 my-auto">
            <div class='text-center'>
                <h2>Profile</h2>
            </div><br>
            <div class = 'text-center'>
                <button ng-click="orderProps='0'" [routerLink]="['/profile']" class="btn btn-primary">Profile</button>
            </div><br>
            <div class='text-center'>
                <h2>Resource Search</h2>
            </div><br>
            <div class = 'text-center'>
                <button ng-click="orderProps='0'" [routerLink]="['/resourcesearch']" class="btn btn-primary">Resource Search</button>
            </div><br>
            <div class='text-center'>
                <h2>Resource Database</h2>
            </div><br>
            <div class = 'text-center'>
                <button ng-click="orderProps='0'" [routerLink]="['/resourcedatabase']" class="btn btn-primary">Resource Database</button>
            </div><br>
            <div class='text-center'>
                <h2>Register Staff</h2>
            </div><br>
            <div class = 'text-center'>
                <button ng-click="orderProps='0'" [routerLink]="['/registerstaff']" class="btn btn-primary">Register Staff</button>
            </div><br>
            <br>
            <div class = 'text-center'>
                <button (click)="logout()" class="btn btn-danger"> Logout</button>
            </div><br>
            <button (click)="refresh()">Refresh</button>
        </div>
    </div>
</div>
