

  body{
    background-color: #F4F3EF;
  }

  #box1{

    text-align: center;

  }

  img{
    text-align: center;


  }

 .box{
  background-image: "assets/img/PF3.png";
  align-items: left;
  background-size: contain;
 }
