<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
<style src=
"https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js">
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}
</style>
</head>

<body ng-load="storeData()">
<app-navbar></app-navbar>

<div class="container">
  <div class="row">
      <div class="col-sm-12 my-auto"><br>
          <div class='text-center'>
            <h1 style="color:#4AC1C0;"><b>Resource Navigation</b></h1>
          </div><br />
          <!-- <div class='text-center'>
              <input class="input-group-text w-25 mx-auto"  type="text" name="tag" placeholder="Search"><br />
          </div> -->

      </div>
  </div>
</div>


<div class="container">
    <div class="row">
        <img src="assets/img/favicon.ico">
    </div>
</div>

<br>




<form>
  <div class="form-group">
    <div class='text-center'>
        <input class="input-group-text w-25 mx-auto" id="listSearch" type="text" name="tag" placeholder="Search" [(ngModel)]="query"><br />
    </div>
    <div class="text-center">
      <p><b>Language:</b></p>
      <input type="checkbox" id='multi' [(ngModel)]="isMulti" >
        <label for="multi"> Multi</label><br>
      
        <input type="checkbox" id='bilingual' [(ngModel)]="isBilingual" >
        <label for="bilingual"> EN</label><br><br>
       
    
    </div> 
     
    <div class="text-center">
      <p><b>Health Topic:</b></p>
      <input type="checkbox" id='sexualHealth' [(ngModel)]="isSexualHealth" >
        <label for="sexualHealth"> Sexual & Reproductive Health</label><br>
        <input type="checkbox" id='mentalHealth' value="Mental Health" [(ngModel)]="isMentalHealth" >
        <label for="mentalHealth"> Mental Health</label><br><br>
    </div> 
  
 






  
  <div class="text-center">
    <button (click)="storeData()" id="btn" class="btn btn-primary" style="background-color:#EA7754 ;">Load Resources &#x21bb;</button>
  </div>
  </div>
</form><br><br>







<!-- <<div class="text-center">
  <button (click)="storeData()" class="btn btn-primary" style="background-color:#EA7754 ;">Show Data
  </button>
</div><br /> -->



<div *ngIf="filteredResources.length > 0" class = "container-fluid">
  <ngb-accordion [destroyOnHide]='false' [closeOthers]="false" activeIds="panel1" >
        <ngb-panel *ngFor = "let resource of filteredResources | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize  | searchFilter :query | multiFilter: isMulti| checkboxFilter: isBilingual | sexualHealthFilter: isSexualHealth | mentalHealthFilter: isMentalHealth   " >
           <ng-template ngbPanelTitle >
              <span>{{resource['NameofResource']}} </span>
           </ng-template>
           <ng-template ngbPanelContent>
              <b>ID: </b> {{resource['id']}}<br />
              <b>Health Theme:</b> {{resource['HealthTopic']}}<br />
              <b>Subtopic:</b> {{resource['Subtopic']}}<br />
              <!-- <b>Category:</b> {{resource['']}}<br /> -->
              <b>Language:</b> {{resource['Language']}}<br /> <br />
              <div class = "text-center">
                <b>Description of Resource</b> <br />
                {{resource['Descriptionofresource']}}<br />
              </div><br />
              <b>Web Link: </b> <a  href="{resource['Weblink(ifapplicable)']}}" target=”_blank” >{{resource['Weblink(ifapplicable)']}}</a><br />
              <b>Additional Information:</b> {{resource['Additionalinformation']}}<br />

           </ng-template>
        </ngb-panel>

  </ngb-accordion>

  
  <!-- <table class="table">
    <tr>
      <th>Title</th>
      <th>Health Theme</th>
      <th>Subtopic</th>
      <th>Category</th>
      <th>Language</th>
      <th>Description of Resource</th>
      <th>Web Link</th>
      <th>Additional Information</th>
    </tr>
    <tr *ngFor="let resource of resources | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

      <td>{{resource[5]}}</td>
      <td>{{resource[1]}}</td>
      <td>{{resource[2]}}</td>
      <td>{{resource[3]}}</td>
      <td>{{resource[4]}}</td>
      <td>{{resource[6]}}</td>
      <td><a href = {{resource[7]}}>{{resource[7]}}</a></td>
      <td>{{resource[8]}}</td>

    </tr>
  </table> -->
  <!-- <ngb-pagination [boundaryLinks]="true" [pageSize]="pageSize" [collectionSize]="resources.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination> -->
  <ngb-pagination class="d-flex justify-content-center" [pageSize]="pageSize" [collectionSize]="filteredResources.length" [(page)]="page" [maxSize]="5" [rotate]="false" [boundaryLinks]="true"></ngb-pagination>
</div>


</body>

<script src="script.js">
  
  let btn = document.querySelector("btn");

  btn.addEventListener("click", ()=>{

    btn.innerHTML="Reload";
});
</script>
