<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
<style src=
"https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js">
body {
    font-family: 'Barlow Condensed';font-size: 22px;
}

</style>
</head>

<body>
  <div>
<app-navbar></app-navbar>
</div>

<div class="container">
  <div class="row">
      <div class="col-sm-12 my-auto"><br>
          <div class='text-center'>
            <br>
            <h1 style="color:#4AC1C0;"><b>Resource Navigation</b></h1>
            <br>
          </div><br />
          <!-- <div class='text-center'>
              <input class="input-group-text w-40 mx-auto"  type="text" name="tag" placeholder="Search"><br />
          </div> -->

      </div>
  </div>
</div>





<div class="container">
    <div class="row">
        <img src="assets/img/SEARCH.png">
    </div>
</div>

<br>




<form>
  <div class="form-group">

    <div class='text-center'>
      <div class="input-group w-25 mx-auto">
        <input class="form-control" id="listSearch" type="text" name="tag" placeholder="Search" [(ngModel)]="query">
        <div class="input-group-text">
          <i class="bi bi-arrow-clockwise" (click)="storeData()"></i>
        </div>
      </div>
    </div><br>

    <div class="d-flex justify-content-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id='favourite' [(ngModel)]="isFavourite" >
        <label class="form-check-label"  style="font-size:20px;" for="favourite"> Favourites &#9733; </label>
      </div>
    </div><br>





<!--Steph's code starts here-->


<div class="text-center">
  <p>
      <button
          type="button"
          class="btn btn-primary"
      style="background-color: #232942;"
          (click)="isCollapsed = ! isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample"
      ><span class="bi bi-filter"></span>
          Filters
      </button>
  </p>
</div>



  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="card">
          <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col"><p class = "text-center">Language</p></div>
            <div class="col-8" > <p class = "text-center"> Health Topic</p></div>
            <div class="col"><p class = "text-center">Affiliation</p></div>
          </div>
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-center">
                <div class="form-check">
                  <input #checkboxes class="form-check-input" type="checkbox" id='multi' [(ngModel)]="isMulti" >
                  <label class="form-check-label" style="font-size:20px;" for="multi"> Multi </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='english' [(ngModel)]="isEnglish" >
                  <label class="form-check-label" style="font-size:20px;" for="english"> EN </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='bilingual' [(ngModel)]="isBilingual" >
                  <label class="form-check-label" for="bilingual"> FR </label>
                </div>
              </div>
            </div>
            <div class="col-8 col-lg-4">
              <div class="d-flex justify-content-center">
                <div class="form-check">
                  <input #checkboxes class="form-check-input" type="checkbox" id='Academics'  [(ngModel)]="isAcademics" >
                  <label class="form-check-label" style="font-size:20px;" for="Academics"> Academics </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='CommunityEngagement'  [(ngModel)]="isCommunityEngagement" >
                  <label class="form-check-label" style="font-size:20px;" for="CommunityEngagement"> Community Engagement </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='Disability'  [(ngModel)]="isDisability" >
                  <label class="form-check-label" style="font-size:20px;" for="Disability"> Disability Services </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='International'  [(ngModel)]="isInternational" >
                  <label class="form-check-label" style="font-size:20px;" for="International"> International and Newcomer Service </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='mentalHealth' value="Mental Health" [(ngModel)]="isMentalHealth" >
                  <label class="form-check-label" style="font-size:20px;" for="mentalHealth"> Mental Health </label><br>

                </div>
              </div>
            </div>
            <div class="col-8 col-lg-4">
              <div class="d-flex justify-content-center">
                <div class="form-check">
                  <input #checkboxes class="form-check-input" type="checkbox" id='Nutrition'  [(ngModel)]="isNutrition" >
                  <label class="form-check-label" style="font-size:20px;" for="Nutrition"> Nutrition </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='physicalHealth'  [(ngModel)]="isPhysicalHealth" >
                  <label class="form-check-label" style="font-size:20px;" for="physicalHealth"> Physical Health </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='PopulationHealth'  [(ngModel)]="isPopulation" >
                  <label class="form-check-label" style="font-size:20px;" for="PopulationHealth">Population Health </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='sexualHealth' value="Sexual & Reproductive Health" [(ngModel)]="isSexualHealth" >
                  <label class="form-check-label" style="font-size:20px;" for="sexualHealth"> Sexual & Reproductive Health </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='SubstanceUse'  [(ngModel)]="isSubstance" >
                  <label class="form-check-label" style="font-size:20px;" for="SubstanceUse"> Substance Use Health </label><br>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <div class="form-check">
                  <input #checkboxes class="form-check-input" type="checkbox" type="checkbox" id='internal' value="Affiliation" [(ngModel)]="isInternal" >
                  <label class="form-check-label" style="font-size:20px;" for="internal">Internal </label><br>
                  <input #checkboxes class="form-check-input" type="checkbox" id='external' value="External" [(ngModel)]="isExternal" >
                  <label class="form-check-label" style="font-size:20px;" for="external">External </label><br>

                </div>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div>
                <button class="btn btn-primary" style="background-color: #232942;" (click)="uncheckAll()">Clear Filters</button><br>
              </div>
            </div>
          </div>
        </div>




      </div>
      </div>
  </div>
  <br>

  </div>
</form>







<!-- <<div class="text-center">
  <button (click)="storeData()" class="btn btn-primary" style="background-color:#EA7754 ;">Show Data
  </button>
</div><br /> -->




<div *ngIf="filteredResources.length > 0" class = "container-fluid">
  <div class="d-flex justify-content-end">
    <div>
      <button type="button" class="btn btn-sm ml-2" (click)="acc.expandAll()">Expand all</button>
      <button type="button" class="btn btn-sm ml-2" (click)="acc.collapseAll()">Collapse all</button>
    </div>
  </div>

  <ngb-accordion [destroyOnHide]='false' [closeOthers]="false" #acc="ngbAccordion" activeIds="panel1">
        <ngb-panel *ngFor = "let resource of filteredResources | searchFilter :query | multiFilter: isMulti| checkboxFilter: isBilingual | englishFilter:isEnglish| sexualHealthFilter: isSexualHealth |mentalHealthFilter: isMentalHealth| physicalHealthFilter:isPhysicalHealth:this.AuthService.favourites| communityEngagementFilter:isCommunityEngagement| disabilityFilter:isDisability| internationalFilter:isInternational| nutritionFilter:isNutrition| populationHealthFilter:isPopulation| substanceUseHealthFilter:isSubstance| academicsFilter:isAcademics| affiliationExternal:isExternal| affiliation:isInternal|favourites:this.AuthService.favourites:isFavourite |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;" >
           <ng-template ngbPanelTitle >
              <span>{{resource['NameofResource']}} </span>

            </ng-template>
          <ng-template ngbPanelContent>


            <div class="row">

              <div class="col-sm-10 my-auto">
                <div id="idNum"><b>ID: </b> {{resource['id']}}</div>
              <b>Health Theme:</b> {{resource['HealthTopic']}}<br />
              </div>



              <div class="col-sm-1 my-auto">
                <input class="star" type="checkbox" style="float: right" id="resource.id" (change)="onChanged(resource.id)" title="bookmark page" [checked] = "!this.AuthService.favourites.includes(resource.id)"><br/><br/>

              </div>

              <div class="col-sm-1 my-auto">
                <a [routerLink]="['/feedback']">
                  <button class="btn btn-primary float-right" style="float: right; background-color: #232942;" (click)="show(resource.id)">Feedback</button><br>
              </a>
              </div>


              </div>









              <b>Subtopic:</b> {{resource['Subtopic']}}<br />
              <!-- <b>Category:</b> {{resource['']}}<br /> -->
              <b>Language:</b> {{resource['Language']}}<br /> <br />
              <b>Affiliation:</b> {{resource['Affiliation']}}<br />
              <b>Tags:</b> {{resource['Tags']}}<br />
              <div class = "text-center">
                <b>Description of Resource</b> <br />
                {{resource['Descriptionofresource']}}<br />
              </div><br />
              <b>Web Link: </b> <a  href="{{resource['Weblink(ifapplicable)']}}" target=”_blank” >{{resource['Weblink(ifapplicable)']}}</a><br />
              <b>Additional Information:</b> {{resource['Additionalinformation']}}<br />
           </ng-template>


        </ngb-panel>


  </ngb-accordion>
  <ngb-pagination class="d-flex justify-content-center" [pageSize]="pageSize" [collectionSize]="(filteredResources | searchFilter :query | multiFilter: isMulti| checkboxFilter: isBilingual | englishFilter:isEnglish| sexualHealthFilter: isSexualHealth |mentalHealthFilter: isMentalHealth| physicalHealthFilter:isPhysicalHealth| communityEngagementFilter:isCommunityEngagement| disabilityFilter:isDisability| internationalFilter:isInternational| nutritionFilter:isNutrition| populationHealthFilter:isPopulation| substanceUseHealthFilter:isSubstance| academicsFilter:isAcademics|affiliationExternal:isExternal| affiliation:isInternal|favourites:this.AuthService.favourites:isFavourite)?.length" [(page)]="page" [maxSize]="5" [rotate]="false" [boundaryLinks]="true" ></ngb-pagination>
  <!-- <table class="table">
    <tr>
      <th>Title</th>
      <th>Health Theme</th>
      <th>Subtopic</th>
      <th>Category</th>
      <th>Language</th>
      <th>Description of Resource</th>
      <th>Web Link</th>
      <th>Additional Information</th>
    </tr>
    <tr *ngFor="let resource of resources | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

      <td>{{resource[5]}}</td>
      <td>{{resource[1]}}</td>
      <td>{{resource[2]}}</td>
      <td>{{resource[3]}}</td>
      <td>{{resource[4]}}</td>
      <td>{{resource[6]}}</td>
      <td><a href = {{resource[7]}}>{{resource[7]}}</a></td>
      <td>{{resource[8]}}</td>

    </tr>
  </table> -->
  <!-- <ngb-pagination [boundaryLinks]="true" [pageSize]="pageSize" [collectionSize]="resources.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination> -->

</div>




</body>
